/*
Theme Name: customtheams-child
Theme URI: https://example.com/twenty-twenty-one-child/
Description: Дочерняя тема для customtheams
Author: Ваше имя
Author URI: https://example.com
Template: customtheams
Version: 1.0.0
Text Domain: customtheams-child
*/

/* Дополнительные CSS-правила можно добавить ниже */